<div class="doctor">
  <div class="title2 mb-60 text-center">
        <h4>Helpful Doctors</h4>
        <h2>Advanced Carefully Doctors</h2>
        <p>Why our services is best all time since 1990. desires to obtain of itself, because it is pain, but because occasionally circums tanceprocure him some great deals. </p>
    </div>
    <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
      <div class="single-doctor">
        <img class="img-fluid" src="assets/images/background_login.jpg" alt="">
        <div class="single-doctor-info">
          <h4>Dr. Vanmala Hasny</h4>
          <span>(M.A. Psychology)</span>
        </div>
        <div class="single-doctor-mask">
          <div class="single-doctor-inner">
            <h5>About Doctor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
      <div class="single-doctor">
        <img class="img-fluid" src="assets/images/background_login1.jpg" alt="">
        <div class="single-doctor-info">
          <h4>Dr. Himali Bhogle</h4>
          <span>(M.B.B.S. D.G.O)</span>
        </div>
        <div class="single-doctor-mask">
          <div class="single-doctor-inner">
            <h5>About Doctor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
      <div class="single-doctor">
        <img class="img-fluid" src="assets/images/Carousel_6.jpg" alt="">
        <div class="single-doctor-info">
          <h4>Dr. Atish Laddad</h4>
          <span>(M.D. Paediatrics)</span>
        </div>
        <div class="single-doctor-mask">
          <div class="single-doctor-inner">
            <h5>About Doctor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
      <div class="single-doctor">
        <img class="img-fluid" src="assets/images/Carousel_7.jpeg" alt="">
        <div class="single-doctor-info">
          <h4>Dr. Ambarish A. Saraf</h4>
          <span>(M.B.B.S. DNB Ortho)</span>
        </div>
        <div class="single-doctor-mask">
          <div class="single-doctor-inner">
            <h5>About Doctor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
      <div class="single-doctor">
        <img class="img-fluid" src="assets/images/Carousel_8.jpg" alt="">
        <div class="single-doctor-info">
          <h4>Dr. Chandan Pagdhane</h4>
          <span>(M.S. Gen. Surg.)</span>
        </div>
        <div class="single-doctor-mask">
          <div class="single-doctor-inner">
            <h5>About Doctor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
      <div class="single-doctor">
        <img class="img-fluid" src="assets/images/background_login.jpg" alt="">
        <div class="single-doctor-info">
          <h4>Dr. Rahul Patil</h4>
          <span>(M.S. (ENT.)</span>
        </div>
        <div class="single-doctor-mask">
          <div class="single-doctor-inner">
            <h5>About Doctor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
      <div class="single-doctor">
        <img class="img-fluid" src="assets/images/background_login1.jpg" alt="">
        <div class="single-doctor-info">
          <h4>Dr. Smriti Choudhary</h4>
          <span>(M.B.B.S. DOMS)</span>
        </div>
        <div class="single-doctor-mask">
          <div class="single-doctor-inner">
            <h5>About Doctor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
      <div class="single-doctor">
        <img class="img-fluid" src="assets/images/Carousel_6.jpg" alt="">
        <div class="single-doctor-info">
          <h4>Dr. Mrs. Yamini Mehta</h4>
          <span>(M.B. D. G.O.)</span>
        </div>
        <div class="single-doctor-mask">
          <div class="single-doctor-inner">
            <h5>About Doctor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
