<div class="doctor">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4" *ngFor="let fertilizer of grtFertilizers()">
        <div class="single-doctor">
          <div *ngFor="let image of getImages()">
            <img class="img-fluid" *ngIf="image.id==fertilizer.image_id" src="{{image.image_url}}" alt="">
          </div>
          <div class="single-doctor-info">
            <h4>{{fertilizer.name}}</h4>
            <ng-container *ngIf="fertilizer.discount > 0; else elseBlock">
              <span class="span"><span class="text-cut">{{ fertilizer.price | currency: 'INR' }}</span>&nbsp;&nbsp;{{ fertilizer.price | discount: fertilizer.discount | currency: 'INR' }}</span>
            </ng-container>
            <ng-template #elseBlock>
              <span>{{ fertilizer.price | currency: 'INR' }}</span>
            </ng-template>
          </div>
          <div class="single-doctor-mask">
            <div class="single-doctor-inner">
              <h6>{{fertilizer.name}}</h6>
              <ng-container *ngIf="fertilizer.discount > 0; else elseBlock">
                <span class="text-cut">{{ fertilizer.price | currency: 'INR' }}</span>&nbsp;&nbsp;{{ fertilizer.price | discount: fertilizer.discount | currency: 'INR' }}
              </ng-container>
              <ng-template #elseBlock>
                <span>{{ fertilizer.price | currency: 'INR' }}</span>
              </ng-template>
              <h5>
                <button class="btn"><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Add to Cart</button>
              </h5>
              <p>{{fertilizer.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
