.blog-list{
  width: 100%;
  padding: 10px;
  height: 85vh;
  /* background-color: white; */
}

.container-flex{
  background-color:white;
}

.blog-image{
  height: auto;
  width: 86.32%;
  /* border-color: aqua; */

}

.blog-image-header{
  height: 20%;
  /* background-color: aqua; */
}

.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.col {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  width: 300px;
  /* background-color: aqua; */
}

h2 {
  text-align: center;
}

.mat-card-header {
  width: 373px;
  margin-left: -48px;
  margin-top: -16px;
  height: 250px;
  overflow: hidden;

}
.mat-card-content{
  margin-top: 20px;
}

.add{
  width: 8rem;
  height: 2.5rem;
  font-size: 1.2rem;
  color: green;
  background-color: lightgreen;
  box-shadow: none;
}
.add-button{
  width: 100%;
  padding-left: 83%;
}

 .center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.add-blog-form {
  width: 100%;
  max-width: 400px;
  padding: 0px;
  margin: 0 auto;
}
/* .btn{
  background-color: #008000;
  color: white;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
} */

/* button[type="submit"]:hover {
  background-color:#008000;
}

 button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} */


/* .form-container{
  background-image: url('https://cdn4.1800flowers.com/wcsstore/Flowers/images/2020/lp/virtual-backgrounds/Plants-macro-virtual-background.jpg');
  background-position: center;
  color:black;
  padding: 50px;
  padding-left: 200px;
  width: 50%;
  background-color: blue;
} */
/* .right{
  float:right;
}

#len{
  border: none;
  background-color: white;
} */


/* ---------------------Form css --------------------- */
.blog-form{
  background-color: beige;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container{
  width: 50%;
  background-color: white;
  height: auto;
}

.button{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="file"],
.form-container textarea{
  border: 1px solid rgb(0, 98, 255);
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 0 0 0.2px rgb(0, 98, 255);
  background-color:rgba(255, 255, 255, 0.315);
  opacity: 90%;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="email"]:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 0 1px blue;
  opacity: 90%;
}

/* ---------------- form css ends ------------------- */

.custom-card{
  height: 500px;
  width: 340px;
}

.right{
  margin-top: 10px;
}

.blog-button{
  border: none;
}


.collapsed {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* justify-content: flex-end; */
  -webkit-line-clamp: 2; /* Number of lines to show before collapsing */
  -webkit-box-orient: vertical;
  margin: 0%;
  padding: 0%;
}

.read-more {
  margin:0%;
 text-align: left;
}
.readbutton{
  padding: 0%;
  margin: 0%;
}

.readmorediv{
  margin: 0%;
  padding: 0%;
}

.main-mat-card{
  height:auto;
  border: 2px solid green;
  /* background-colo; */
}

.blog-image{
  width: 550px;
}
