<!-- navbar starts-->
<app-navbar></app-navbar>
<!-- navbar ends -->

<!-- container code starts-->
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class=" sidebar col-md-2">
      <ul class="nav flex-column me-auto">
        <li class="nav-item">
          <a class="nav-link mt-5" [routerLink]="['/admin/add']" routerLinkActive="active">
            <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mt-3" [routerLink]="['/admin/product']" routerLinkActive="active">
            <i class="fa-solid fa-plus"></i>&nbsp;&nbsp; Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mt-3" [routerLink]="['/admin/blog']" routerLinkActive="active">
            <i class="fa-brands fa-pagelines"></i>&nbsp;&nbsp; Blogs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mt-3" routerLinkActive="active">
            <i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;  Orders
          </a>
        </li>
      </ul>
    </div>
    <!-- Content -->
    <div class="col-md-10 router">
      <router-outlet></router-outlet>
  </div>
</div>
<!-- container code starts-->
