


/* for sidebar */
.sidebar{
  height: 100vh;
  background-color:lightgreen;
}

.nav-link{
  font-size: 1.2rem;
}

.nav-link:hover{
  background-color: green;
  color: white;
}

.active{
  background-color: green;
  color: white;
}

.router{
  background-color: beige;
}


/* user icon */
.user{
  font-size: 1.5rem;
}

