/* ------slider ------------------ */
.carousel-item>img{
  object-fit:cover;
}

.carousel-caption>h5{
  color: lightgreen;
}

/* ----------- for services------------- */

.travel-bg{
  background-color: rgb(245, 246, 246);
  padding: 80px 0;
}
.main-travel-spe{
  width: 100%;
}
.main-travel-block{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 40px;
}
.travel1{
  width: 25%;
  position: relative;
  background-color: white;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgb(19 39 50 / 30%);
}
.travel1:hover .test-shine:after{
opacity: 1;
left: 130%;
transition-property: left, top, opacity;
transition-duration: 0.7s, 0.7s, 0.15s;
transition-timing-function: linear;
}
.travel1:hover .test-shine img{
  transform: scale(1.5,1.5);
  transition-duration: 0.7s;
  transition-timing-function: ease;
}
.travel-title{
  text-align: center;
  padding: 20px 0;
}
.travel-title h1{
  font-size:36px;
  font-weight: 700;
  line-height: 60px;
  color: #132732;
  margin: 0;
}
.overflow-shine{
  position: relative;
  width: 100%;
  height: 171px;
  overflow: hidden;
}
.test-shine {
  overflow: hidden;
  display: inline-block;
}
.test-shine:after {
content: "";
position: absolute;
top: -50%;
left: -60%;
width: 20%;
height: 200%;
opacity: 0;
transform: rotate(40deg);

background: rgba(255, 255, 255, 0.13);
background: linear-gradient(
  to right,
  rgba(255, 255, 255, 0.13) 0%,
  rgba(255, 255, 255, 0.13) 77%,
  rgba(255, 255, 255, 0.7) 92%,
  rgba(255, 255, 255, 0.0) 100%
);
}
.test-shine:active:after {
opacity: 0;
}

.test-shine img{
  width: 100%;
}
.icon-img{
  position: absolute;
  left: 50%;
  top: 126px;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #fff;
  border-radius: 50%;
  vertical-align: center;
  box-shadow: 0px 15px 20px 0px rgb(0 0 0 / 30%);
}
.icon-img img {
  width: 55%;
  text-align: center;
  vertical-align: middle;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.travel1:hover .icon-img img{
  transform: rotateY(360deg);
}

.travel1 p{
  margin-top: 55px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #132732;
  padding: 0 25px;
}

/* ----------------Responsive ------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1260px)
{
  .travel-bg {
    padding: 60px 0;
  }

  .icon-img {
    top: 83px;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  .overflow-shine {
    height: 120px;;
  }

  .travel1 p {
      padding: 0 20px;
  }

  .icon-img img {
      width: 48%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px)
{
  .main-travel-block {
    padding: 0 0 0px;
    flex-wrap: wrap;
  }
  .travel1 {
    width: 47%;
    margin: 20px 10px;;
  }

  .test-shine {
      display: block;
  }
}

@media only screen and (max-width: 767px)
{
  .travel-bg {
    padding: 30px 0;
  }
  .travel-title h1 {
      font-size: 28px;
      line-height: 30px;
  }
  .main-travel-block {
      display: block;
      padding: 0 0 0px;
  }
  .test-shine img {
      width: 100%;
  }
}

@media only screen and (max-width: 320px)
{
  .travel-title h1 {
    font-size: 23px;
    line-height: 0px;
  }
  .travel1 {
    width: 100%;
    margin: 20px 0;
  }
  .test-shine {
      display: block;
  }
  .item-single img {
      height: 270px;
      object-fit: cover;
  }
}