<div class="container-fluid">
  <!-- -------------Login form starts------- -->
  <div class="form-container">
    <h2 class="text-primary text-center">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="forgotPasswordSubmit()">
      <!-- Email input -->
      <div class=" mb-2 mt-3">
        <label class="form-label text-primary" for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && forgotPasswordForm.controls['email'].errors }"/>
      </div>
      <!-- Error message starts-->
      <div *ngIf="submitted || (forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched))">
        <span *ngIf="forgotPasswordForm.controls['email'].errors?.['required']" class="text-danger">
          Email is required!
        </span>
        <span *ngIf="forgotPasswordForm.controls['email'].errors?.['email']" class="text-danger">
          Email is not valid,Please enter valid email address!
        </span>
      </div>
      <!-- Error message ends-->
      <!-- Password input -->
      <!-- <div class=" mb-2 mt-3">
        <label class="form-label text-primary" for="otp">Password</label>
        <input type="password" id="otp" class="form-control" formControlName="otp" [ngClass]="{ 'is-invalid': submitted && forgotPasswordForm.controls['otp'].errors }"/>
      </div> -->
      <!-- Error message starts-->
      <!-- <div *ngIf="submitted || (forgotPasswordForm.controls['otp'].invalid && (forgotPasswordForm.controls['otp'].dirty || forgotPasswordForm.controls['otp'].touched))">
        <span *ngIf="forgotPasswordForm.controls['otp'].errors?.['required']" class="text-danger">
          Password is required!
        </span>
      </div> -->
      <!-- Error message ends-->
      <!-- 2 column grid layout for inline styling -->
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">Send Mail</button>
      <div class="row mb-3 mt-4">
        <div class="col register">
          <!-- Simple link -->
          <p>Not Register Yet? <a href="/register">Register</a></p>
        </div>
      </div>
    </form>
  </div>
  <!-- -------------Login form ends------- -->
</div>
