<div class="container-fluid">
  <!-- -------------Login form starts------- -->
  <div class="form-container">
    <h2 class="text-primary text-center">Forgot Password</h2>
    <form [formGroup]="emailSubmitForm" novalidate (ngSubmit)="emailSubmit()">
      <!-- Email input -->
      <div class=" mb-2 mt-3">
        <label class="form-label text-primary" for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email"  [ngClass]="{ 'is-invalid': emailSubmitted && emailSubmitForm.controls['email'].errors }"/>
      </div>
      <!-- Error message starts-->
      <div *ngIf="emailSubmitted || (emailSubmitForm.controls['email'].invalid && (emailSubmitForm.controls['email'].dirty || emailSubmitForm.controls['email'].touched))">
        <span *ngIf="emailSubmitForm.controls['email'].errors?.['required']" class="text-danger">
          Email is required!
        </span>
        <span *ngIf="emailSubmitForm.controls['email'].errors?.['email']" class="text-danger">
          Email is not valid,Please enter valid email address!
        </span>
      </div>
      <!-- Error message ends-->
      <button type="submit" class="btn btn-primary btn-block mt-4">Send Mail</button>
      <div class="row mb-3 mt-4">
        <div class="col register">
          <!-- Simple link -->
          <p>Already have account? <a href="/login">Login</a></p>
        </div>
      </div>
    </form>
    <div class="mt-4" *ngIf=show>
      <h6 class="text-center text-primary">Opt Send to your mail...</h6>
      <form [formGroup]="otpSubmitForm" novalidate (ngSubmit)="otpSubmit()">
         <!-- otp input -->
      <div class=" mb-2 mt-3">
        <label class="form-label text-primary" for="otp">Enter Otp</label>
        <input type="password" id="otp" class="form-control" formControlName="otp" [ngClass]="{ 'is-invalid': otpSubmitted && otpSubmitForm.controls['otp'].errors }"/>
      </div>
      <!-- Error message starts-->
      <div *ngIf="otpSubmitted || (otpSubmitForm.controls['otp'].invalid && (otpSubmitForm.controls['otp'].dirty || otpSubmitForm.controls['otp'].touched))">
        <span *ngIf="otpSubmitForm.controls['otp'].errors?.['required']" class="text-danger">
          Otp is required!
        </span>
      </div>
      <!-- Error message ends-->
      <!-- 2 column grid layout for inline styling -->
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
      </form>
    </div>
  </div>
  <!-- -------------Login form ends------- -->
</div>
