/* -------------------- blog add button starts ----------------- */
.blog-heading{
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-top{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}
.blog-search{
  width: 50%;
}
.blog-add-btn{
  width: 50%;
  text-align: right;
}
/* -----------------search bar starts ------------------ */
.blog-search input[type="text"]{
  width: 50%;
  height: 100%;
  border: none;
  border-bottom: 2px solid lightgreen;
}
.blog-search input[type="text"]:focus{
  border: none;
  outline: none;
  border-bottom: 2px solid green;
}
.blog-search .search-icon{
  font-size: 1.5rem;
  color: green ;
}
/* ----------------- search bar ends ------------------- */
/* ------------------- add button starts ------------ */
.fa-plus{
  font-size: 1rem;
}
.box-button a {
  color: #FFF;
  text-decoration: none;
}
.banner-btn{
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 600;
  background: lightgreen;
  overflow: hidden;
  min-width: 150px;
}
.banner-btn:hover{
  color: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.10);
}
.theme-btn{
  display:inline-block;
  text-align: center;
  border-radius: 5px;
  position: relative;
  z-index: 9;
  color: inherit;
  transition:all 0.5s ease;
  text-transform: capitalize;
}
.theme-btn span:not(.btn-title){
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  border-radius: 50%;
  transform: translateY(150%);
  transition: all 500ms ease;
  background-color: #ffffff;
  z-index: 0;
}
.theme-btn span:nth-child(2){
  left: 20%;
  transition-delay: 100ms;
}
.theme-btn span:nth-child(3){
  left: 40%;
  transition-delay: 200ms;
}
.theme-btn span:nth-child(4){
  left: 60%;
  transition-delay: 300ms;
}
.theme-btn span:nth-child(5){
  left: 80%;
  transition-delay: 400ms;
}
.theme-btn:hover span{
  transform: translateY(0) scale(2);
}
.banner-btn:hover .btn-title {
  color: lightgreen;
  position: relative;
  z-index: 9;
}
.banner-btn:hover{
  color: lightgray;
  text-decoration: none;
}
.animate-out {
  animation-delay : 0ms  ;
}
/* ------------------- add button starts ------------ */

/* -------------------- blog add button ends ----------------- */

/* ----------------- blog card css starts ----------------- */
/* ------------------------------------------------------------ */
.co_service{
  position: relative;
  padding: 80px 0 90px;
}
.co_service h3{
 font-size: 36px;
 font-weight: 700;
 text-align: center;
 color: white;
 padding-bottom: 30px;
}
.item-single {
  position: relative;
  margin-bottom: 30px;
}
.hs_icon {
  /* width: 30%; */
  /* margin: auto; */
  height: 100px;

  /* line-height: 80px; */
  /* text-align: center; */
  /* border: 2px solid green; */
  border-radius: 50%;
  /* position: relative; */
  transition: all 300ms ease;
  /* left: 0; */
  /* right: 40%; */
  background-color: blue;
}
.item-single .content {
  position: absolute;
  bottom: -38px;
  left: 15px;
  background:#2d7fbb;
  border-radius: 7px;
  padding: 25px;
  width: 100%;
  max-width: calc(100% - 30px);
  transition: .5s;
  box-shadow: 0 0 30px 0 rgb(102 102 102 / 9%);
  overflow: hidden;
}
.item-single .content p {
  padding-top: 15px;
  display: none;
  font-size: 15px;
}
.item-single:hover .content {
  background:green;
  animation: fadeInUp .3s linear 1;
}
.item-single:hover .content p {
  color: white;
  display: block;
}
.content h4 {
  font-size: 25px;
  font-weight: 700;
  color:#fff;
  margin: 0;
}
.content i {
  font-size: 30px;
  color:green;
}
.content{
  position: relative;
}
.item-single .discount {
  position: absolute;
  top: -20px;
  right: 10px;
  border-radius: 50%;
  padding: 30px 19px 15px;
  background: #fff;
  text-align: center;
}
.item-single:hover .discount{
  background:white;
}
.item-single:hover .discount i{
  color: #000;
}
.item-single:hover .content h4 {
  color: white;
}
/* ------------------------------------------------------------ */
/* ----for read more---- */
.collapsed {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show before collapsing */
  -webkit-box-orient: vertical;
  margin: 0%;
  padding: 0%;
}

.read-more {
  margin:0%;
 text-align: left;
}
.readbutton{
  padding: 0%;
  margin: 0%;
  color:white;
}
.readmorediv{
  margin: 0%;
  padding: 0%;
}
/* ----------------- blog card css ends ----------------- */

/* -------------------- blog add blog form starts ----------------- */
.form-container{
  width: 100%;
  height: 100%;
  background-color: grey;
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 90%;
}
.form-container>.card{
  width: 60%;
  background-color: white;
}
.form-title{
  text-align: center;
  color: green;
}
.form-container .form{
  width: 70%;
  margin-left: 15%;
}
/* .form-outline input[type="text"],
.form-outline input[type="file"],
.form-outline textarea{
  border: none;
  border-bottom: 2px solid green;
}
.form-outline input[type="text"]:focus,
.form-outline input[type="file"]:focus,
.form-outline textarea:focus{
  outline: none;
  border: none;
  border-bottom: 2px solid blue;
} */
.error-message{
  color: red;
}
/* -------------------- blog add blog form ends ----------------- */
/* ---------------------blog readmore modal starts------------- */
.modal-header h3{
  width: 100%;
  text-align: right;
}
.modal-body{
  height: auto;
  width: 80%;
  background-color:beige;
  margin: 2rem;
}
.modal-inner{
  position: relative;
  top: 5%;
  left: 5%;
  border: 2px solid green;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.blog-modal-image{
  width:100%;
  height: 15rem;
  object-fit:fill;
}
.blog-modal-image img{
  width: 100%;
  height: 15rem;
}
.blog-modal-body p{
  text-align: justify;
}
.blog-modal-title h3{
  margin-left: 2rem;
  text-align: center;
}
.blog-modal-title h6{
  margin-right: 2rem;
  text-align: right;
}

/* ---------------------blog readmore modal ends------------- */
