<!-- -------------------- blog card starts ------------------------------- -->
<div>
  <!-- --------------------------- blog add button & search starts --------------------- -->
  <div class="blog-heading mt-2">
    <div class="blog-top">
      <div class="blog-search">
        <input type="text" name="search" class="search" placeholder="Search...">&nbsp;&nbsp;
        <span class="search-icon"><i class="fa-solid fa-search"></i></span>
      </div>
      <div class="blog-add-btn">
        <div class="box-button" *ngIf="(!(formShow)) && (!(blogShow))" (click)="formModal()">
          <a class="banner-btn theme-btn" data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutRight">
              <span class="btn-title"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;ADD BLOG</span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </a>
      </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- --------------------------- blog add button & search ends --------------------- -->
  <!-- ----------------------------- blog card starts ---------------------- -->
  <div class="blog">
    <div class="co_hs-service">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 mb-4" *ngFor="let item of [1,2,3,4,5,6,7]">
            <div class="hs_inner-service">
              <div class="blog-img-head">
                <div class="hs_icon mt-2">
                  <img src="assets/images/customer-home-plant-2.jpg">
                </div>
                <div class="blog-head">
                  <h2 class="mt-1">Health Check</h2>
                  <h6>-&nbsp;Priya Patel</h6>
                </div>
              </div>
              <div class="readmorediv" [ngClass]="{'collapsed': !showReadMore}">
                <p class="mt-4" [class.collapsed]="!showReadMore">{{ description }} </p>
              </div>
              <span class="read-more" *ngIf="description!.length > 10">
                <button class="readbutton" mat-button  (click)="blogModal()">
                  {{ showReadMore ? 'Read Less' : 'Read More' }}
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------- blog card ends ---------------------- -->
</div>
<!-- ---------------------- blog card ends ------------------------------- -->

<!-- --------------------------- blog add form starts --------------------- -->
<div *ngIf=formShow>
  <div class="form-container">
    <div class="card">
      <!-- -----------form title starts------- -->
      <div class="form-title mt-3">
        <h3>Share Your Green Thumb</h3>
      </div>
      <!-- -----------form title ends------- -->
      <hr>
      <!-- ------form starts-------- -->
      <form class="form" [formGroup]="blogForm" (ngSubmit)="submitForm()">
        <!-- -------title ------ -->
        <div class="form-outline mb-4">
          <input type="text" id="title" class="form-control" />
          <label class="form-label" for="title">Title&nbsp;<span style="color: red;">*</span></label>
          <div *ngIf="submitted || (blogForm.get('title')?.touched && blogForm.get('title')?.hasError('required'))" class="error-message">
            Title is required.
          </div>
        </div>
        <!-- ---------Image ------ -->
        <div class="form-outline mb-4">
          <label class="form-label" for="image">Image&nbsp;<span style="color: red;">*</span></label>
          <input type="file" class="form-control" id="image" />
          <div *ngIf="submitted || (blogForm.get('image')?.touched && blogForm.get('image')?.hasError('required'))" class="error-message">
            Image is required.
          </div>
        </div>
        <!-- -------description ------ -->
        <div class="form-outline mb-4">
          <textarea class="form-control" id="description" rows="3"></textarea>
          <label class="form-label" for="description">Description&nbsp;<span style="color: red;">*</span></label>
          <div *ngIf="submitted || (blogForm.get('description')?.touched && blogForm.get('description')?.hasError('required'))" class="error-message">
            Description is required.
          </div>
        </div>
        <!-- -----------feilds ends --------- -->
        <hr>
        <!-- --------buttons starts ---------- -->
        <div class="mb-4 text-center">
          <button type="button" class="btn btn-dark m-2" (click)="formModal()">Back</button>
          <button type="submit" class="btn btn-success m-2">Post</button>
          <button type="reset" class="btn btn-secondary m-2">Reset</button>
        </div>
        <!-- -------buttonds ends --------- -->
      </form>
      <!-- ------form ends-------- -->
    </div>
  </div>
</div>
<!-- --------------------------- blog add form ends --------------------- -->

<!-- ------------------------ blog Read More Modal starts ---------------------- -->
<div *ngIf=(blogShow)>
  <div class="form-container">
    <div class="card">
      <div class="blog-read">
        <!-- Modal -->
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3><button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" (click)="blogModal()"></button></h3>
              </div>
              <div class="modal-inner">
                <div class="modal-body">
                  <div class="blog-modal-title">
                    <h3 class="modal-title">Blog Title</h3>
                    <h6>- Priya Patel</h6>
                  </div>
                  <div class="blog-modal-image mt-1 ml-2 mr-2 mb-3">
                    <img src="assets/images/customer-home-seeds-2.jpg" alt="">
                  </div>
                  <div class="blog-modal-body">
                    <p>{{description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ------------------------ blog Read More Modal starts ---------------------- -->

