<!-- -------------------- blog card starts ------------------------------- -->
<div>
  <!-- --------------------------- blog add button & search starts --------------------- -->
  <div class="blog-heading mt-2">
    <div class="blog-top">
      <!-- <div class="blog-search">
        <input type="text" name="search" class="search" placeholder="Search...">&nbsp;&nbsp;
        <span class="search-icon"><i class="fa-solid fa-search"></i></span>
      </div> -->
      <div class="blog-add-btn">
        <div class="box-button" *ngIf="(!(formShow)) && (!(blogShow))" (click)="formModal()">
          <a class="banner-btn theme-btn" data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutRight">
              <span class="btn-title"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;ADD BLOG</span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </a>
      </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- --------------------------- blog add button & search ends --------------------- -->
  <!-- ----------------------------- blog card starts ---------------------- -->
  <!-- ----------------------------- blog card ends ---------------------- -->
  <div class="co_service">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 pad-1 mb-4" *ngFor="let blog of getActiveBlogs()">
          <div class="item-single">
            <div class="servi_image" *ngFor="let image of getImages()">
              <img *ngIf="image.id==blog.image_id" src="{{image.image_url}}">
            </div>
            <div class="content">
              <h4>{{blog.title}}</h4>
              <div>
                <div class="readmorediv" [ngClass]="{'collapsed': !showReadMore}">
                  <p class="mt-4" [class.collapsed]="!showReadMore">{{ blog.description }} </p>
                </div>
                <span class="read-more" *ngIf="blog.description!.length > 10">
                  <button class="readbutton" mat-button  (click)="blogModal(blog)">
                    {{ showReadMore ? 'Read Less' : 'Read More' }}
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------- blog card ends ------------------------------- -->

<!-- --------------------------- blog add form starts --------------------- -->
<div *ngIf=formShow>
  <div class="form-container">
    <div class="card">
      <!-- -----------form title starts------- -->
      <div class="form-title mt-3">
        <h3>Share Your Green Thumb</h3>
      </div>
      <!-- -----------form title ends------- -->
      <hr>
      <!-- ------form starts-------- -->
      <form class="add-blog-form" (ngSubmit)="submitForm()" #blogForm="ngForm">
        <div class="form-group mb-2 mt-2" style="width: 400px">
          <label for="title" class="fw-bold">Title&nbsp;<span style="color: red;">*</span></label>
          <input type="text" class="form-control w-100" id="title" name="title" placeholder="Title" required [(ngModel)]="blog.title" #title="ngModel" pattern="^[a-zA-Z\s]{1,50}$">
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
            <div *ngIf="title.errors?.['required']">Title is required.</div>
            <!-- <div *ngIf="title.errors?.['pattern']">Title must be between 1 and 50 letters, and should not contain numbers or special characters.</div> -->
          </div>
        </div>
        <!-- <div class="form-group mb-2 mt-2" style="width: 400px">
          <label for="uploadedBy" class="fw-bold">Uploaded By&nbsp;<span style="color: red;">*</span></label>
          <input type="text" class="form-control w-100" id="uploadedBy" name="uploadedBy" placeholder="Uploaded By" required [(ngModel)]="blog.uploaded_by" #uploadedBy="ngModel"#title="ngModel"pattern="^[a-zA-Z\s]{1,50}$">
          <div *ngIf="uploadedBy.invalid && (uploadedBy.dirty || uploadedBy.touched)" class="text-danger">
            <div *ngIf="uploadedBy.errors?.['required']">Uploaded By is required.</div>
            <div *ngIf="title.errors?.['pattern']">Title must be between 1 and 50 letters, and should not contain numbers or special characters.</div>
          </div>
        </div> -->
        <div class="form-group mb-2 mt-2" style="width: 400px">
          <label for="description" class="fw-bold">Description&nbsp;<span style="color: red;">*</span></label>
          <textarea class="form-control w-100" id="description" rows="3" name="description" placeholder="Description" required [(ngModel)]="blog.description" #description="ngModel"></textarea>
          <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">
            <div *ngIf="description.errors?.['required']">Description is required.</div>

          </div>
        </div>
        <div class="form-group mb-2 mt-2" style="width: 400px">
          <label for="image" class="fw-bold">Image&nbsp;<span style="color: red;">*</span></label>
          <div class="custom-file mb-3">
            <input type="file" (change)="onFileChange($event)" class="custom-file-input w-100" id="image" name="image" accept="image/*" required [(ngModel)]="picture" #image="ngModel">
            <div *ngIf="image.invalid && (image.dirty || image.touched)" class="text-danger">
              <div *ngIf="image.errors?.['required']">Image is required.</div>
            </div>
          </div>
        </div>
        <hr>
        <div class="button m-4">
          <button type="button" class="btn btn-secondary m-3" (click)="formModal()">Back</button>
          <button type="submit" class="btn btn-success m-3">Save</button>
          <button type="reset" class="btn btn-primary m-3">Reset</button>
        </div>
      </form>
      <!-- ------form ends-------- -->
    </div>
  </div>
</div>
<!-- --------------------------- blog add form ends --------------------- -->

<!-- ------------------------ blog Read More Modal starts ---------------------- -->
<div *ngIf=(blogShow)>
  <div class="form-container">
    <div class="card">
      <div class="blog-read">

        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3><button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" (click)="blogModal(blog)"></button></h3>
              </div>
              <div class="modal-inner">
                <div class="modal-body">
                  <div class="blog-modal-title">
                    <h3 class="modal-title">{{blog.title}}</h3>
                    <h6>- {{blog.uploaded_by}}</h6>
                  </div>
                  <div class="blog-modal-image mt-1 ml-2 mr-2 mb-3">
                    <img src="{{image.image_url}}" alt="">
                  </div>
                  <div class="blog-modal-body">
                    <p>{{blog.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- ------------------------ blog Read More Modal starts ---------------------- -->

