<div class="desti-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-12 padding-1" *ngFor="let accessorie of getAccessories()">
              <div class="d-block mb-4">
                  <figure class="imghvr-zoom-out " *ngFor="let image of getImages()">
                      <img *ngIf="accessorie.image_id==image.id" src="{{image.image_url}}" alt="37">
                      <div class="sydney-block">
                          <div class="sydney-info">
                              <h4>{{accessorie.name}}</h4>
                              <!-- <h4>Sydney</h4> -->
                          </div>
                      </div>
                      <div class="sydney-disc">
                          <div class="sydney-info1">
                              <!-- <h5>Duration: <strong> 6 DAYS</strong></h5>
                              <div class="price">Rs.10000</div> -->
                              <ng-container *ngIf="accessorie.discount > 0; else elseBlock">
                                <h6 class="price"><span class="text-cut">{{ accessorie.price | currency: 'INR' }}</span>&nbsp;&nbsp;{{ accessorie.price | discount: accessorie.discount | currency: 'INR' }}</h6>
                              </ng-container>
                              <ng-template #elseBlock>
                                <h6 class="price">{{ accessorie.price | currency: 'INR' }}</h6>
                              </ng-template>
                          </div>
                      </div>
                      <figcaption>
                          <div class="back-info">
                              <h3>{{accessorie.name}}</h3>
                              <p>{{accessorie.description}}</p>
                              <div class="sydney-icon">
                                <ng-container *ngIf="accessorie.discount > 0; else elseBlock">
                                  <h6 class="price"><span class="text-cut">{{ accessorie.price | currency: 'INR' }}</span>&nbsp;&nbsp;{{ accessorie.price | discount: accessorie.discount | currency: 'INR' }}</h6>
                                </ng-container>
                                <ng-template #elseBlock>
                                  <h6 class="price">{{ accessorie.price | currency: 'INR' }}</h6>
                                </ng-template>
                                <button *ngIf=!(getAdd(accessorie.id)) class="addbutton" (click)="addToCart(accessorie)" ><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;ADD TO CART</button>
                                <div *ngIf=(getAdd(accessorie.id))>
                                  <div  *ngIf="getQuantity(accessorie.id)>0">
                                      <span (click)="removeQuantity(accessorie.id)"><i class="fa-solid fa-minus"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                      <span>{{getQuantity(accessorie.id)}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                      <span (click)="addQuantity(accessorie.id)"><i class="fa-solid fa-plus"></i></span>
                                  </div>
                                  <div *ngIf="getQuantity(accessorie.id)==0">
                                    <div class="book-btn" data-toggle="modal" data-target="#myModal" (click)="addToCart(accessorie)"><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Add to Cart</div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </figcaption>
                  </figure>
              </div>
          </div>
      </div>
  </div>
</div>
