<!-- Footer starts-->
<footer class="footer bg-dark text-center">
  <div class="container">
    <div class="social-media-icons">
      <a href="https://www.facebook.com/Feuji.IT/" class="icon"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/Feuji_IT?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="icon"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/sam_banna_07/?hl=en" class="icon"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="text-light mt-2">&copy; 2023 E-Nursery. All rights reserved.</p>
  </div>
</footer>
<!-- Footer ends-->
