<div class="co_product-1">
  <div class="gallery">
    <div class="image-container">
            <div class="image">
              <div class="inner_product-1">
                <div class="product-img">
                  <a href="image/b-product1.jpg"><img src="assets/images/background_login1.jpg"></a>
                </div>
                <div class="product-info">
                  <h2>Ring</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <h6 class="price"><i class="fal fa-rupee-sign"></i> 15,800</h6>
                    <div class="book-btn" data-toggle="modal" data-target="#myModal">Book now</div>
                </div>
              </div>
            </div>
            <div class="image">
                <div class="inner_product-1">
                    <div class="product-img">
                        <a href="image/b-product2.jpg"><img src="assets/images/background_login.jpg"></a>
                    </div>
                    <div class="product-info">
                        <h2>Earrings</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <h6 class="price"><i class="fal fa-rupee-sign"></i> 25,000</h6>
                        <div class="book-btn" data-toggle="modal" data-target="#myModal">Book now</div>
                    </div>
                </div>
            </div>
            <div class="image">
                <div class="inner_product-1">
                    <div class="product-img">
                        <a href="image/b-product3.jpg"><img src="assets/images/Carousel_6.jpg"></a>
                    </div>
                    <div class="product-info">
                        <h2>Bracelets</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <h6 class="price"><i class="fal fa-rupee-sign"></i> 20,870</h6>
                        <div class="book-btn" data-toggle="modal" data-target="#myModal">Book now</div>
                    </div>
                </div>
            </div>
            <div class="image">
                <div class="inner_product-1">
                    <div class="product-img">
                        <a href="image/b-product4.jpg"><img src="assets/images/Carousel_7.jpeg"></a>
                    </div>
                    <div class="product-info">
                        <h2>Necklaces</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <h6 class="price"><i class="fal fa-rupee-sign"></i> 23,005</h6>
                        <div class="book-btn" data-toggle="modal" data-target="#myModal">Book now</div>
                    </div>
                </div>
            </div>
            <div class="image">
                <div class="inner_product-1">
                    <div class="product-img">
                        <a href="image/b-product5.jpg"><img src="assets/images/Carousel_8.jpg"></a>
                    </div>
                    <div class="product-info">
                        <h2>Earrings</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <h6 class="price"><i class="fal fa-rupee-sign"></i> 10,000</h6>
                        <div class="book-btn" data-toggle="modal" data-target="#myModal">Book now</div>
                    </div>
                </div>
            </div>
            <div class="image">
                <div class="inner_product-1">
                    <div class="product-img">
                        <a href="image/b-product7.jpg"><img src="assets/images/background_login.jpg"></a>
                    </div>
                    <div class="product-info">
                        <h2>Necklaces</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <h6 class="price"><i class="fal fa-rupee-sign"></i> 15,800</h6>
                        <div class="book-btn" data-toggle="modal" data-target="#myModal">Book now</div>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
